@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,300;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

/*Header*/
header {
  height: 45vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2e2e2e;
}

.text__header {
  text-align: center;
  color: #ffff;
}
.logotipo {
  height: 55%;
  border-radius: 50px;
  border: solid 1px #ffff;
}

.menu {
  height: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 10px;
}

.menu__item a {
  text-decoration: none;
  color: #ffff;
}

.menu__item a:hover {
  text-decoration: underline;
  color: #ffff;
}

/*Main*/
main {
  height: 100vw;
  background-color: #26a7ff;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.text__principal {
  padding: 20px;
  text-align: center;
  font-size: larger;
}

.text__info {
  text-align: center;
  padding-top: 10px;
}

.foto {
  width: 300px;
  border: solid 5px #2e2e2e;
  border-radius: 100px;
}

/*Tarjetitas*/
.works {
  padding-top: 100px;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}

.card__title {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card__img {
  width: 300px;
  height: 300px;
  border-radius: 30px;
  border: solid #2e2e2e 4px;
}
.text__secundary {
  text-align: center;
}

/*Contacto*/
.contac__title {
  text-align: center;
}

.contac {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.contac__img {
  width: 80px;
}

/*Footer*/
footer {
  background-color: #2e2e2e;
}

.text__footer {
  color: #ffff;
  text-align: center;
  padding: 10px;
}
